---
---
@import '../_sass/bootstrap';
@import '../_sass/syntax-highlighting';
@import 'title-group';
@import 'tile';
@import 'pagination';


%oswald { font-family: 'Oswald', sans-serif; }
%roboto { font-family: 'Roboto Condensed', sans-serif; }


body {
  @extend %roboto;
  font-size: 18px;
  line-height: 30px;
  padding-top: 0px;
  -webkit-font-smoothing: antialiased;
}
p {
  color: #777;
  font-size: 15px;
  margin-bottom: 30px;
}
section, header, footer, main, article, nav, aside { position: relative; }
a {
  outline: none !important;
  text-decoration: none !important;
  transition: all 225ms ease;
  color: rgb(255, 69, 69);

  &:hover { color: #6165FF; }
}
.btn {
  text-transform: uppercase;
  font-weight: 400;
  @extend %oswald;
}
h1, h2, h3, h4, h5, h6 { @extend %oswald; }
::selection {
  background: #086AFF;
  color: #fff;
}


// nav.navbar {
//   margin: 0;
//
//   a {
//     text-transform: uppercase;
//     font-size: 16px;
//   }
//
//   .navbar-brand {
//     text-transform: none;
//
//     i {
//       transition: inherit;
//       color: $scotch-primary;
//       transform: scale(1);
//     }
//
//     &:hover i {
//       color: rgb(255, 111, 111);
//       transform: scale(1.35);
//     }
//   }
// }

.menu-sym {
  z-index: 99;
  position: absolute;
  background: none;
  border: none;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: white;
  right: 50px;
  top: 20px;
  cursor: pointer;
}
//
// .w3-modal-content {
//   width: 200px;
//   position: absolute;
//   right: 0;
//   z-index: 100;
//
//   ul {
//     list-style-type: none;
//     margin: 0;
//     padding: 0;
//
//     li {
//       margin: 1px;
//       background-color: rgba(0,0,0,0.5);
//
//       a {
//         color: white;
//       }
//     }
//
//   }
//
// }

aside {
  font-size: 12px;
  color: #525252;
  margin: 16px 0 7px 0;
  @extend %oswald;

  span {
    text-transform: uppercase;
    margin: 0 5px;
  }
}

.site-footer {
  margin-top: 200px;
}

.pagination-wrap {
  text-align: center;
}

pre {
  margin: 75px -100px;
}


@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 480px) {

}
