---
---
@import '../_sass/bootstrap';
@import '../_sass/syntax-highlighting';
@import 'nav-bar';
@import 'title-group';
@import 'tile';
@import 'pagination';


%oswald { font-family: 'Oswald', sans-serif; }
%roboto { font-family: 'Roboto Condensed', sans-serif; }


body {
  @extend %roboto;
  font-size: 15px;
  line-height: 30px;
  padding-top: 0px;
  -webkit-font-smoothing: antialiased;
}
p {
  color: #777;
  font-size: 15px;
  margin-bottom: 30px;
}
section, header, footer, main, article, nav, aside { position: relative; }
a {
  outline: none !important;
  text-decoration: none !important;
  transition: all 225ms ease;
  color: rgb(255, 69, 69);
  font-size: 15px;

  &:hover { color: #6165FF; }
}
.btn {
  text-transform: uppercase;
  font-weight: 400;
  @extend %oswald;
}
h1, h2, h3, h4, h5, h6 { @extend %oswald; }
::selection {
  background: #086AFF;
  color: #fff;
}

// nav.navbar {
//   margin: 0;
//
//   a {
//     text-transform: uppercase;
//     font-size: 16px;
//   }
//
//   .navbar-brand {
//     text-transform: none;
//
//     i {
//       transition: inherit;
//       color: $scotch-primary;
//       transform: scale(1);
//     }
//
//     &:hover i {
//       color: rgb(255, 111, 111);
//       transform: scale(1.35);
//     }
//   }
// }

aside {
  font-size: 12px;
  color: #525252;
  margin: 16px 0 7px 0;
  @extend %oswald;

  span {
    text-transform: uppercase;
    margin: 0 5px;
  }
}

.site-footer {
  margin-top: 200px;
}

.pagination-wrap {
  text-align: center;
}

pre {
  margin: 75px -100px;
}


@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 480px) {

}
