---
---
@import '../_sass/bootstrap';
@import '../_sass/syntax-highlighting';
@import 'nav-bar';
@import 'title-group';
@import 'tile';
@import 'pagination';


%oswald { font-family: 'Oswald', sans-serif; }
%roboto { font-family: 'Roboto Condensed', sans-serif; }


body {
  @extend %roboto;
  font-size: 15px;
  line-height: 30px;
  padding-top: 0px;
  -webkit-font-smoothing: antialiased;
}

p {
  color: #777;
  font-size: 15px;
  margin-bottom: 30px;
}

section, header, footer, main, article, nav, aside { position: relative; }

a {
  outline: none !important;
  text-decoration: none !important;
  transition: all 225ms ease;
  color: rgb(255, 69, 69);
  font-size: 15px;

  &:hover { color: #6165FF; }
}

.btn {
  text-transform: uppercase;
  font-weight: 400;
  @extend %oswald;
}

h1, h2, h3, h4, h5, h6 { @extend %oswald; }
::selection {
  background: #086AFF;
  color: #fff;
}

aside {
  font-size: 12px;
  color: #525252;
  margin: 16px 0 7px 0;
  @extend %oswald;

  span {
    text-transform: uppercase;
    margin: 0 5px;
  }
}

pre {
  margin: 75px -100px;
}

.scroll-up {
  position: fixed;
  z-index: 98;
  right: 50px;
  bottom: 30px;
  width: 30px;
  height: 30px;
  border-radius: 1px;
  background-color: rgba(175,175,175,0.5);
  // background-color: rgba(200,200,200,0.3);
  // display: flex;
  // justify-content: center;
  // align-items: center;
  text-align: center;

  cursor: pointer;
  transition-duration: 0.5s;
  opacity: 0;

  span {
    font-size: 18px;
    color: rgba(150,150,150,0.5);
    transition-duration: 0.5s;
  }

  &:hover {
    background-color: rgba(150,150,150,0.5);

    span {
      color: rgb(150,150,150);
    }
  }
}

.site-footer {
  margin-top: 200px;
}

.menu-burger {
  width: 25px;
  height: 25px;
  z-index: 99;
  position: absolute;
  left: 20px;
  top: 20px;

  span {
    width: 100%;
    height: 3px;
    position: absolute;
    background-color: white;
    transition-duration: 0.5s;
    left: 0;
  }

  span:nth-child(1) {
    top: 2px;
  }

  span:nth-child(2), span:nth-child(3) {
    top: 11px;
    transform: rotate(0deg);
  }

  span:nth-child(4) {
    top: 20px;
  }

}

.menu-burger-back {
  span:nth-child(1), span:nth-child(4) {
    top: 11px;
    width: 0;
    left: 50%;
  }

  span:nth-child(2) {
    transform: rotate(45deg);
  }

  span:nth-child(3) {
    transform: rotate(-45deg);
  }
}


@media only screen and (max-width : 991px) {
  .scroll-up {
    right: 30px;
  }
}

@media only screen and (max-width : 480px) {

}


@import 'toggle-class';
