---
---

.welcome-container {
  height: calc(100vh + 51px);
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-image: url(../imgs/journal.jpg);
}

.welcome-shade-container {
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 480px) {

}
