---
---
$scotch-primary: rgb(255, 69, 69);
$white: rgb(240,240,240);
$grey: rgb(176,176,182);
$gold: rgb(252,219,148);
$darkgrey: rgb(70,70,70);
$right-margin: 5vw;

nav.navbar {
  top: -51px;
}

.welcome-container {
  margin-top: -51px;
  height: calc(100vh + 51px);
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-image: url(../imgs/journal.jpg);

  .welcome-shade-container {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
  }


  .left-vert-bar {
    position: absolute;
    width: 100vh;
    height: 80px;
    left: 80px;
    bottom: 0;
    transform: rotate(-90deg);
    transform-origin: bottom left;
    text-align: center;
    line-height: 80px;

    a {
      margin: 0 1em;
      font-weight: lighter;
    }
  }

  .right-vert-bar {
    position: absolute;
    width: 20em;
    right: $right-margin;
    bottom: -51px;
    margin-right: -20em;
    transform: rotate(-90deg);
    transform-origin: bottom left;
    color: $gold;
    font-size: 0.7em;
    display: flex;
    align-items: center;

    .gold-line {
      height: 1px;
      width: calc(5em + 51px);
      background-color: $gold;
      margin-right: 1em;
    }
  }

  .gold-button {
    color: $darkgrey;
    background-color: $gold;
    padding: 0.5em 1.5em;

    &:hover {
      background-color: rgb(240,240,240);
    }
  }

  .title-container {
    height: 100%;
    width: 100%;
    padding: 22vh 5vw 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    p {
      font-size: 2vh;
    }

    h1 {
      display: inline-block;
      margin: 0 -.7vw 0 0;
      color: rgb(240,240,240);
      font-size: 8vw;
      // letter-spacing: .3vw;
    }

    .link-container {
      margin-top: 2em;

      .trans-button {
        
      }
    }
  }

}

@media only screen and (max-width : 991px) {

}

@media only screen and (max-width : 480px) {

}
