

<!-- <div class="open-nav-background">
  <div class="open-nav-container">
    <i id='open-nav' class="fa fa-bars"></i>
  </div>
</div>

<div class="nav-bar-container">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/">About</a></li>
    <li><a href="https://github.com/mingruimingrui">Github</a></li>
    <li><a href="https://www.linkedin.com/in/mingruimingrui/">LinkedIn</a></li>
    <li><div id='close-nav' style="font-family:cursive">X</div></li>
  </ul>
</div>

{% if page.featured_image == null %}
<style media="screen">
.open-nav-container {
  position: absolute;
  color: black;
}
</style>
{% endif %} -->
