<nav class="pagination-wrap">

  {% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><div class="pagination-sym">
    <i class="fa fa-angle-left"></i>
  </div></a>
  {% else %}
  <div class="pagination-sym"></div>
  {% endif %}

  <div class="pagination-self">
    {% if paginator.total_pages <= 5 %}
      {% for page in (1..paginator.total_pages) %}
        <a class="{% if page == paginator.page %} active {% endif %}"
          href="{% if page == 1 %} / {% else %}
            {{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}
          {% endif %}">
          <div class="pagination-link">{{page}}</div>
        </a>
      {% endfor %}
    {% else %}
    TBI
    {% endif %}
  </div>

  {% if paginator.next_page %}
  <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"><div class="pagination-sym">
    <i class="fa fa-angle-right"></i>
  </div></a>
  {% else %}
  <div class="pagination-sym"></div>
  {% endif %}

</nav>
