<nav class="pagination-wrap">

  {% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><div class="pagination-sym">
    <i class="fa fa-angle-left"></i>
  </div></a>
  {% else %}
  <div class="pagination-sym"></div>
  {% endif %}

  <div class="pagination-self">
    {% if paginator.total_pages <= 5 %}
      {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
          <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}"
             class="active">
            <div class="pagination-link">{{page}}</div>
          </a>
        {% elsif page == 1 %}
          <a href="/">
            <div class="pagination-link">{{page}}</div>
          </a>
        {% else %}
          <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">
            <div class="pagination-link">{{page}}</div>
          </a>
        {% endif %}
      {% endfor %}
    {% else %}
    TBI
    {% endif %}
  </div>

  {% if paginator.next_page %}
  <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"><div class="pagination-sym">
    <i class="fa fa-angle-right"></i>
  </div></a>
  {% else %}
  <div class="pagination-sym"></div>
  {% endif %}

</nav>
