<div class="topper">
  {% if page.featured_image %}
  <span class="img" style="background-image: url('{{ page.featured_image }}');">
    {% endif %}
    {% if page.image_opacity %}
    <div style="position:absolute;height:100%;width:100%;background-color:rgba(0,0,0,{{ page.image_opacity }});"></div>
    {% endif %}

    <div class="title-group{% if page.featured_image %}1{% else %}2{% endif %}">
      <h1 class="special">
        <span>
          {% if page.title %}
          {{ page.title }}
          {% else %}
          {{ site.data.global.title }}
          {% endif %}
        </span>
      </h1>
      {% if page.id %}
      <aside>
        {{ page.date | date: "%B %d, %Y" }}
        {% if page.tags != empty %}
        &nbsp;
        {% for tag in page.tags %}
        | <span>{{ tag }}</span>
        {% endfor %}
        {% endif %}
      </aside>
      {% endif %}
      <p class="lead">
        {% if page.lead_text %}
        {{ page.lead_text }}
        {% elsif post.lead_text %}
        {{ post.lead_text }}
        {% else %}
        {{ site.data.global.description }}
        {% endif %}
      </p>
    </div>

    {% if page.featured_image %}
    <div class="scroll-down">
      <span class="fa fa-angle-down"></span>
    </div>
  </span>
  {% endif %}

</div>
