<div class="welcome-container">
  <div class="welcome-img-container">
    <div class="welcome-shade-container">

      <div class="left-vert-bar space-letter2">
        <a href="https://github.com/mingruimingrui/">GITHUB</a>
        <a href="#">MEDIUM</a>
        <a href="https://www.linkedin.com/in/mingruimingrui/">LINKEDIN</a>
      </div>

      <div class="right-vert-bar">
        <div class="gold-line left"></div>
        <div class="scroll-down space-letter2">SCROLL DOWN</div>
      </div>

      <div data-aos="fade" data-aos-delay="300">
        <a href="#" class="gold-button space-letter1">CONTACT</a>
      </div>

      <div class="title-container">

        <p class="gold space-letter2" data-aos="fade" data-aos-delay="100">PERSONAL BLOG • ML • LIFE</p>

        <h1>RAY'S</h1>
        <h1>JOURNAL</h1>

        <div class="link-container" data-aos="fade" data-aos-delay="300" data-aos-offset="-1000">
          <a href="#" class="trans-button space-letter1">COMING SOON</a>
          <a href="#" class="trans-button space-letter1">ABOUT</a>
        </div>

      </div>

    </div>
  </div>
</div>
