<div class="welcome-container">
  <div class="welcome-shade-container">

    <div class="left-vert-bar">
      <a href="https://github.com/mingruimingrui/">GITHUB</a>
      <a href="#">MEDIUM</a>
      <a href="https://www.linkedin.com/in/mingruimingrui/">LINKEDIN</a>
    </div>

    <!-- <div class="right-vert-bar">
      <div class="gold-line"></div>
      <div class="scroll-down">SCROLL DOWN</div>
    </div> -->

    <div data-aos="fade" data-aos-delay="300">
      <a href="#" class="gold-button button">CONTACT</a>
    </div>

    <div class="title-container">

      <p data-aos="fade" data-aos-delay="100">PERSONAL BLOG • ML • LIFE</p>

      <h1>RAY'S</h1>
      <h1>JOURNAL</h1>

      <div class="link-container" data-aos="fade" data-aos-delay="300" data-aos-offset="-1000">
        <a href="#" class="trans-button button">COMING SOON</a>
        <a href="#" class="trans-button button">ABOUT</a>
      </div>

    </div>


  </div>
</div>
