body {
    background-image: url("../imgs/wall2.jpg");
    background-size: 100%;
    margin-top: -20px;
}

.root {
  background-color: rgba(255, 255, 255, 0.5);
  height: 100vh;
}

.screen-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
